<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/58cea041-eb31-41be-a652-e87a8c7060dc/resourceGroups/CanvelBackEnd20250219112918ResourceGroup/providers/Microsoft.Web/sites/CanvelBackEnd20250219112918</ResourceId>
    <ResourceGroup>CanvelBackEnd20250219112918ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/58cea041-eb31-41be-a652-e87a8c7060dc/resourceGroups/CanvelBackEnd20250219112918ResourceGroup/providers/Microsoft.ApiManagement/service/CanvelBackEndapi/apis/CanvelBackEnd</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://canvelbackend20250219112918-czbtfafjcpf6ftgv.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>d0c6f517-a843-4df3-9115-27cb7837c861</ProjectGuid>
    <MSDeployServiceURL>canvelbackend20250219112918-czbtfafjcpf6ftgv.scm.canadacentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CanvelBackEnd20250219112918</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>